body{
    background-color: #EEEEEE;
}
#main{
  text-align: center;
  font-family: Roboto;
}
#title{
  font-weight: 700;
  font-size: 50px;
}

#img-div{
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
  padding: 20px;
}
img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#tribute-info{
    font-size: 20px;
}
ul{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

li{
  margin-bottom: 20px;
}

#link{
  font-size: 20px;
  font-weight: 500;
}

#quote{
  margin-left: 20%;
  margin-right: 20%;
}
